# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/
# Ignore Gemfile.lock - let GitHub Actions generate its own
Gemfile.lock

# Node
node_modules/

# MacOS
.DS_Store

# Logs
*.log

# WordPress export files
*.WordPress.*.xml